<% html_title t(:label_roadmap) %>





<% if @kittens.empty? %>
  <!-- <%= no_results_box %>  -->
<% else %>
  <p>
    These are the kittens:
  </p>
  <% @kittens.each do |kitten| %>
    <%= angular_component_tag 'opce-kitten', inputs: { 'kitten-name': kitten.name } %>
  <% end %>
<% end %>

  <table class="">
    <tr>
      <th></th>
    <% @roadmap_hashes.each do |m_hash| %>
      <th class="">
        <%= m_hash[:label] %>
      </th>
    <% end %>
    </tr>
    <% @table_rows.each do |cat| %>
    <tr>
      <td><%= cat %></td>
      <% @roadmap_hashes.each do |m_hash| %>
      <td>
        <%m_hash[cat].each do |wp|%>
          <div class="box">
            <%= link_to wp.subject, wp %>
          </div>
        <%end%>
      </td>
      <%end%>
    </tr>
    
    <% end %>
    
  </table>


<!-- <%= render "shared/kitty_image" %> -->
