<% html_title t(:label_roadmap) %>


  <table class="">
    <tr>
      <th></th>
    <% @roadmap_hashes.each do |m_hash| %>
      <th class="">
        <%= m_hash[:label] %>
      </th>
    <% end %>
    </tr>
    <% @table_rows.each do |cat| %>
    <tr>
      <td><%= t(cat) %></td>
      <% @roadmap_hashes.each do |m_hash| %>
      <td class="border">
        <%m_hash[cat].each do |wp|%>
          <div class="box">
            <%= link_to wp.subject, wp %>
            <p class="body-small">
              <%= User.where(id: wp.try(:assigned_to).try(:id)).collect{|u| u.firstname[0]+u.lastname[0]}.join(",")%>
            
              <% beteiligte_ids = wp.custom_values.where(custom_field_id: @custom_field_beteiligte.id).pluck(:value)%>
              <%if beteiligte_ids.present?%>
              <br>
              <%end%>
              <%= User.where(id: beteiligte_ids).collect{|u| u.firstname[0]+u.lastname[0]}.join(",") %>
            </p>
          </div>
        <%end%>
      </td>
      <%end%>
    </tr>
    
    <% end %>
    
  </table>

